$color-white: #fff;
$color-isabelline: #eeeded;
$color-spanish-gray: #989797;

$color-coral: #eacb31;
$color-buff: #f1dd7b;
$color-vanilla: #f5e7a1;

$color-flame: #e4572e;
$color-light-red-ochre: #e87554;
$color-pastel-pink: #f2b2a0;

$color-shiny-shamrock: #4ca866;
$color-turquoise-green: #9dcfab;
$color-pastel-gray: #bddfc7;

$color-blue-de-france: #3c91e6;
$color-blue-jeans: #5fa5ea;
$color-jordy-blue: #82b9ef;

$color-black: #000;
$color-outer-space: #454545;
$color-quick-silver: #a2a2a2;

$font-base2: "Roboto", sans-serif;
$font-base: "PT Mono", monospace;

$font-xxxl: 70px;
$font-xxl: 40px;
$font-xl: 30px;
$font-l: 18px;
$font-m: 16px;
$font-s: 12px;
