.conocernos {
  padding: 50px;

  h3 {
    padding: 0;
    margin: 0;
    font-family: $font-base;
    font-size: $font-xl;
  }

  p {
    padding: 0;
    margin: 0;
    font-family: $font-base2;
    font-size: $font-m;
    font-weight: lighter;
  }
}
